html, body {
		height: 100%;
		margin: 0;
	}
#wrapper{
	min-height: 100%;
	background-color: #38114D;
	background-image: -moz-linear-gradient(center top , #38114D 19%, #5B187E 57%);
}
ul#navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    background-color: #AAA2AE;
    text-align: center;
    z-index: 1;
}
li.navItem {
    display: inline-block;
    margin-right: 10px;
}
li.navItem:hover{
	cursor: pointer;
	background-color: grey;
}
.navItem a:link, .navItem a:visited{
	color: #38114D;
}
.currentLocation{
	background-color: green;
}
#banner{
	margin-left:auto;
	margin-right:auto;
	width:477px;
	padding-top:100px;
	padding-bottom:200px;
}
#startScreen{
	margin-top: -140px;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}
#content{
	width:80%;
	/*background-color:#AAA2AE;*/
	/*margin-top: -100px;*/
	margin-left: auto;
	margin-right: auto;
	min-height: 150px;
	font-size:1.4em;
	padding: 100px 0px;
}
p{
	margin-top: 0px;
}
input[type="radio"]{
	min-width: 30px;
}
#spinner{
	/*position: relative;
	margin-top: -90px;*/
	display: none;
}
.survey{
	display: none;
}
.buttons{
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}
button{
	min-width: 100px;
}
#start{
	margin-left:auto;
	margin-right:auto;
	width: 100px;
}
.textArea{
	background-color: #BDBDBD;/*#AAA2AE;*/
	padding: 20px;
	/*margin-top: 100px;*/
}
/*.csBackground{
	background-color: #BDBDBD;
}*/
.meaningPicture{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	width: 200px;
}
.meaningInstruction{
	background-color: white;
	padding-left: 20px;
	position: relative;
}
.meaningButtons{
	margin-left: -11px;
	height: 100px;
	margin-top: -36px;
	margin-bottom: 20px;
	border: 1px solid black;
	width: 102%;
}
.meaningButtons label{
	background-color: white;
	padding: 0px 10px;
	margin: 50px;
}
.meaningButtons label input[type="radio"]{
	min-width: 5px;
	margin: 0px 10px 0px 0px;
}
.meaningInputs{
	position: relative;
	width: 450px;
	top: 50%;
	left: 50%;
	margin: -13px 0px 0px -225px;
}
 input[disabled] {
    color: #DCDAD1;
}
#meaningInsight > div{
	min-height: 550px;
}
.contrastInstruction{
	width: 82%;
	margin-left: auto;
	margin-right: auto;
}
#contrastSensitivity > div{
	min-height: 550px;
}
.contrastPicture{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	width: 120px;
}
.panelPicture{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 399px;
}
.contrastPanel{
	width: 100%;
	display: inline-block;
	margin-right: 2%;
	vertical-align: top;
}
.contrastPanel.demo{
	width: 69%;
}
.contrastDemoInstructions{
	width: 28%;
	display: inline-block;
}
.whiteBackground{
	background-color: white;
}
.whiteBackground p{
	padding: 10px;
}
.contrastPanel h5, .contrastDemoInstructions h5{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
.contrastDemoInstructions h5{
	text-decoration: underline;
}
.contrastPanel .choice{
	width: 24%;
	text-align: center;
	display: inline-block;
}
.contrastPanel .panelText{
	width: 50%;
	display: inline-block;
	text-align: center;
	height: 94px;
	vertical-align: top;
}
.contrastPanel .panelText p{
	margin-top: 34px;
}
.yourChoice{
	border: 1px solid white;
	height: 94px;
}
.bulbPicture{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-image: url('../assets/images/contrast/unlit.png');
}
.choice p{
	margin-top: 10px;
	margin-bottom: 10px;
}
.choice input[type="radio"]{
	display: inline-block;
	position: relative;
	top: -14px;
	min-width: 0px;
}
.choice input[type=radio]:checked ~ .bulbPicture {
  background-image: url('../assets/images/contrast/lit.png');
}
.innerLeft{
	width: 61px;
	float:right;
}
.innerRight{
	width: 68px;
	float:left;
}
.partnerChoice .bulbPicture{
	margin-left: 22px;
}
.panelInstructions{
	height: 70px;
}
#contrastSensitivity .instructionPicture{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	width: 510px;
}
#contrastSensitivity em, #demographicSurvey em{
	background-color: white;
	padding: 5px 11px 5px 10px;
	font-style: normal;
}
#setup .column{
	width: 26%;
	display: inline-block;
	vertical-align: top;
}
#setup .column:last-of-type{
	width: 46%
}
#setup h4{
	margin: 5px;
}
#setup #available, #setup #using, #setup #options{
	margin: 0px;
	padding: 5px;
	border: 1px solid black;
}
#setup .listItem{
	list-style-type: none;
}
#setup #available .listItem{
	cursor: pointer;
}
#setup #using .listItem:hover{
	cursor: move;
}
#setup #available .listItem:hover{
	background-color: lightgreen;
}
#setup #using .listItem:hover{
	background-color: lightgoldenrodyellow;
}
#setup #using .listItem .closeButton{
	float: right;
	cursor: pointer;
	margin-top: 1px;
}
#setup #options input{
	float: right;
}
#setup .buttons button{
	display: inline-block;
	margin-left: 0px !important;
	min-width: 150px;
}
#setup .buttons{
	width: 306px;
	padding-left: 17px;
}
#contrastSensitivitySolo .meaningInputs{
	width: 606px;
	left: auto;
	margin: auto;
}
#demographicSurvey .meaningInputs{
	top: 27%;
	left: auto;
	margin: auto;
	width: 561px;
}
#demographicSurvey .meaningButtons{
	height: 60px;
}
#demographicSurvey form div{
	width: 565px;
	margin-left: auto;
	margin-right: auto;
}
#demographicSurvey form input, #demographicSurvey form select{
	float: right;
}
#demographicSurvey form input[type="text"]{
	width: 110px;
}
#demographicSurvey form label{
	float: right;
}
#demographicSurvey form div.checkForm{
	height: 130px;
}
#demographicSurvey form div.checkForm input{
	margin-top: 7px;
}
#demographicSurvey .meaningInstruction{
	width: 340px;
	z-index: 1;
	left: 10px;
}
#demographicSurvey .demographicLabel, #demographicSurvey .demographicValue{
	width: 48%;
	display: inline-block;
	height: 35px;
	margin: 5px, 10px;
}
#demographicSurvey .demographicLabel{
	text-align: right;
}
#demographicSurvey .demographicResult{
	position: relative;
	margin-top: -35px;
	margin-bottom: 10px;
	border: 1px solid grey;
	padding: 10px;
}
#demographicSurvey .whiteBackground p{
	margin-top: -6px;
}